body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    color: #33CC33;
    margin: 0;
    padding: 0;
}

header {
    background-color: #111;
    padding: 1em;
    text-align: center;
    border-bottom: 1px solid #33CC33;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav a {
    color: #33CC33;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 0;
}

section {
    background-color: #111;
    padding: 1em;
    border: 1px solid #33CC33;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%; 
    margin: 20px 0;
    box-sizing: border-box;
}

h2 {
    color: #33CC33;
    margin-top: 0;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px auto;
    border: 2px solid #33CC33;
}

footer {
    background-color: #111;
    padding: 1em;
    text-align: center;
    clear: both;
    border-top: 1px solid #33CC33;
}

footer p {
    margin-bottom: 10px;
    color: #33CC33;
}

a {
    color: #00FF00;
    text-decoration: none;
}

a:hover {
    color: #66FF66;
    text-shadow: 0 0 5px #33CC33;
}

a:active {
    color: #00FF00;
    text-shadow: 0 0 10px #33CC33;
}

/* media query for mobile screens */
@media only screen and (max-width: 768px) {
    .container {
        max-width: 90%; /* adjust the maximum width for mobile screens */
        margin: 10px auto;
    }
}

#start-stop-timer {
    background-color: #111;
    color: #33CC33;
    border: 1px solid #33CC33;
    padding: 10px 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

#start-stop-timer:hover {
    background-color: #222;
}

#start-stop-timer:active {
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
}

#timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
}

#timer-container label, #timer-container input, #timer-container button {
    margin: 10px;
}

#increment-time, #decrement-time {
    background-color: #111;
    color: #33CC33;
    border: 1px solid #33CC33;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    width: 30px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

#increment-time:hover, #decrement-time:hover {
    background-color: #222;
}

#increment-time:active, #decrement-time:active {
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
}



#pi-symbol {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    color: #33CC33;
}

#pi-symbol.light-theme {
    color: #333;
}

#custom-time {
    background-color: #111;
    color: #33CC33;
    border: 1px solid #33CC33;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    width: 50px;
    text-align: center;
}

#custom-time:focus {
    background-color: #222;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
}

label[for="custom-time"] {
    color: #33CC33;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin-right: 10px;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type="number"] {
    -moz-appearance: textfield;
}
